
   
   * {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}

body {
font-family: 'Inter', sans-serif;
background-color: #ffffff;
color: #263238;
}

a {
text-decoration: none;
color: #263238;
}
